.listModalMain {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.26);
}

.listModalMain .listModalMainBody {
  width: 600px;
  height: auto;
}

.listModalMain .listModalMainBody {
    listModalTitle
}

.listModalMain .listModalMainBody {
}

.listModalMain .listModalMainBody {
}

.listModalMain .listModalMainBody {
}

.listModalMain .listModalMainBody {
}

.listModalMain .listModalMainBody {
}
